In [1]:
import seaborn as sns
import metapack as mp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display 

%matplotlib inline
sns.set_context('notebook')
mp.jupyter.init()

In [2]:
pkg = mp.open_package('index:sandiegodata.org-planning')
pkg

In [4]:
pdb = pkg.resource('acs_pdb').read_csv()
pdb.head()

,geoid,flag,land_area,aian_land,tot_population,tot_population_m90,males,males_m90,females,females_m90,...,pct_crowd_occp_u,pct_crowd_occp_u_m90,pct_no_ph_srvc,pct_no_ph_srvc_m90,pct_no_plumb,pct_no_plumb_m90,pct_recent_built_hu,pct_recent_built_hu_m90,avg_agg_house_value,avg_agg_house_value_m90
0,14000US06073000100,NaN,0.595,0,2773,185,1339,125,1434,120,...,0.54,1.24,1.01,1.71,0.0,0.89,0.00,0.89,1005837.0,106722.0
1,14000US06073000201,NaN,0.334,0,2158,241,878,110,1280,233,...,1.53,2.01,1.73,1.82,0.0,1.09,0.00,1.09,389221.0,108176.0
2,14000US06073000202,NaN,0.506,0,4828,415,2260,228,2568,342,...,2.19,3.60,1.37,1.67,0.0,0.49,0.94,1.59,270988.0,49461.0
3,14000US06073000300,NaN,0.349,0,4946,405,2578,257,2368,353,...,2.25,2.03,1.75,1.64,0.0,0.38,0.00,0.38,175043.0,37332.0
4,14000US06073000400,NaN,0.456,0,3916,306,2325,279,1591,283,...,1.10,1.84,2.30,2.02,0.0,0.52,0.00,0.52,120083.0,40836.0